@import '../..//node_modules/bootstrap/scss/mixins';
@import "../../node_modules/bootstrap/scss/functions";
@import '../../node_modules/bootstrap/scss/variables';
@import './variable.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body *
{
    font-family: 'Lato', sans-serif !important;
}

$theme-colors: (
    primary: $first
);

@import '../../node_modules/bootstrap/scss/bootstrap.scss';